.products-container {
  width: 100%;
  margin: 0 0;
  padding: 180px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-title {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3rem;
}

.product-showcase-wrapper {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.product-showcase {
  max-height: 500px;
  width: 80%;
  // min-width: 300px;
  // max-width: 500px;
  padding: 0;
}

.feature-section {
  width: 100%;
  background-color: #f7fafc;
  padding: 6rem 0;
  margin-bottom: 3rem;

  &.feature-section-1 {
    margin-top: 300px;
    margin-bottom: 150px;
    // background-color: #f0f8ff;
  }

  &.feature-section-2 {
    margin-top: 150px;
    margin-bottom: 150px;
    // background-color: #faebd7;
  }

  &.feature-section-3 {
    margin-top: 150px;
    // margin-bottom: 20px;
    // background-color: #ffe4e1;
  }
}

.feature-content {
  max-width: 72rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.feature-section-reverse {
  .feature-content {
    @media (min-width: 768px) {
      flex-direction: row-reverse;
    }
  }
}

.feature-text {
  flex: 1;
  margin-bottom: 2rem;
  display: flex; // 追加: flexboxを使用
  flex-direction: column; // 追加: 子要素を縦に並べる
  justify-content: center; // 追加: 子要素を垂直方向に中央揃え
  align-items: center; // 追加: 子要素を水平方向に中央揃え
  text-align: center; // 追加: テキストを中央揃え

  @media (min-width: 768px) {
    margin-bottom: 0;
    padding: 0 2rem;
    // align-items: flex-start; // 変更: デスクトップ表示では左揃え
    text-align: left; // 変更: デスクトップ表示では左揃え
  }
}

.feature-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2d3748;
  margin-bottom: 1rem;
}

.feature-description {
  font-size: 1.125rem;
  color: #4a5568;
  max-width: 600px;
}

.feature-image {
  width: 500px;
  height: 500px;
  opacity: 0;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;

  &.feature-image-1, &.feature-image-3 {
    transform: translateX(100px);
  }

  &.feature-image-2 {
    transform: translateX(-100px);
  }

  &.visible {
    opacity: 1;
    transform: translateX(0);
  }
}